@font-face {
    font-family: "BMJUA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: marshallIcon;
    src: url(./assets/icon/marshallIcon.woff?inv9z6) format("woff"),
        url(./assets/icon/marshallIcon.svg?inv9z6#iconfont) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

[class*=" icon-"],
[class^="icon-"] {
    font-family: marshallIcon !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-note:before {
    content: "\e913";
}
.icon-postList:before {
    content: "\e912";
}
.icon-tistory:before {
    content: "\e908";
}
.icon-kakao-talk:before {
    content: "\e911";
}
.icon-500px:before {
    content: "\e906";
}
.icon-apple:before {
    content: "\e907";
}
.icon-blogger:before {
    content: "\e909";
}
.icon-disqus:before {
    content: "\e90a";
}
.icon-evernote:before {
    content: "\e90b";
}
.icon-netflix:before {
    content: "\e90c";
}
.icon-origin:before {
    content: "\e90d";
}
.icon-pinterest:before {
    content: "\e90e";
}
.icon-soundcloud:before {
    content: "\e90f";
}
.icon-steam:before {
    content: "\e910";
}
.icon-naver-logo:before {
    content: "\e905";
}
.icon-logo-akids:before {
    content: "\e904";
}
.icon-pen-nib-solid:before {
    content: "\e900";
}
.icon-wrench-solid:before {
    content: "\e901";
}
.icon-discord-brands:before {
    content: "\e902";
}
.icon-logo-pen:before {
    content: "\e903";
}
.icon-volume-high:before {
    content: "\ea26";
}
.icon-volume-mute2:before {
    content: "\ea2a";
}
.icon-th-large:before {
    content: "\f009";
}
.icon-th-list:before {
    content: "\f00b";
}
.icon-check:before {
    content: "\f00c";
}
.icon-close1:before {
    content: "\f00f";
}
.icon-remove1:before {
    content: "\f00f";
}
.icon-times1:before {
    content: "\f00f";
}
.icon-repeat:before {
    content: "\f01e";
}
.icon-rotate-right:before {
    content: "\f01e";
}
.icon-backward:before {
    content: "\f04a";
}
.icon-play:before {
    content: "\f04b";
}
.icon-pause:before {
    content: "\f04c";
}
.icon-stop:before {
    content: "\f04d";
}
.icon-forward:before {
    content: "\f04e";
}
.icon-random1:before {
    content: "\f076";
}
.icon-folder-open:before {
    content: "\f07c";
}
.icon-github:before {
    content: "\f09b";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-folder-open-o:before {
    content: "\f115";
}
.icon-smile-o:before {
    content: "\f118";
}
.icon-unlock-alt1:before {
    content: "\f13f";
}
.icon-codepen:before {
    content: "\f1cb";
}
.icon-search:before {
    content: "\f002";
}
.icon-random:before {
    content: "\f074";
}
.icon-list-ul:before {
    content: "\f0ca";
}
.icon-bell:before {
    content: "\f0f3";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon-send:before {
    content: "\f1d8";
}
.icon-arrow-down:before {
    content: "\f063";
}
.icon-arrow-left:before {
    content: "\f060";
}
.icon-arrow-right:before {
    content: "\f061";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-arrows-alt:before {
    content: "\f0b2";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon-navicon:before {
    content: "\f0c9";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-book:before {
    content: "\f02d";
}
.icon-bookmark:before {
    content: "\f02e";
}
.icon-chain:before {
    content: "\f0c1";
}
.icon-link:before {
    content: "\f0c1";
}
.icon-chevron-down:before {
    content: "\f078";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-chevron-up:before {
    content: "\f077";
}
.icon-close:before {
    content: "\f00d";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-times:before {
    content: "\f00d";
}
.icon-comment:before {
    content: "\f075";
}
.icon-comments:before {
    content: "\f086";
}
.icon-edit:before {
    content: "\f044";
}
.icon-pencil-square-o:before {
    content: "\f044";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-external-link-square:before {
    content: "\f14c";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-facebook-f:before {
    content: "\f09a";
}
.icon-feed:before {
    content: "\f09e";
}
.icon-rss:before {
    content: "\f09e";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-home:before {
    content: "\f015";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-internet-explorer:before {
    content: "\f26b";
}
.icon-lock:before {
    content: "\f023";
}
.icon-mail-reply:before {
    content: "\f112";
}
.icon-reply:before {
    content: "\f112";
}
.icon-minus-circle:before {
    content: "\f056";
}
.icon-plus-circle:before {
    content: "\f055";
}
.icon-search-minus:before {
    content: "\f010";
}
.icon-search-plus:before {
    content: "\f00e";
}
.icon-share-alt:before {
    content: "\f1e0";
}
.icon-sort-numeric-asc:before {
    content: "\f162";
}
.icon-sort-numeric-desc:before {
    content: "\f163";
}
.icon-star:before {
    content: "\f005";
}
.icon-tags:before {
    content: "\f02c";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-unlock:before {
    content: "\f09c";
}
.icon-user-plus:before {
    content: "\f234";
}
.icon-youtube-play:before {
    content: "\f16a";
}
.icon-download:before {
    content: "\f019";
}
.icon-sign-out:before {
    content: "\f08c";
}
.icon-sign-in:before {
    content: "\f091";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-twitch:before {
    content: "\f1e8";
}
.icon-film:before {
    content: "\f008";
}
.icon-image:before {
    content: "\f03e";
}
.icon-photo:before {
    content: "\f03e";
}
.icon-picture-o:before {
    content: "\f03e";
}
.icon-calendar:before {
    content: "\f073";
}
.icon-bullhorn:before {
    content: "\f0a1";
}
.icon-star-half-empty:before {
    content: "\f123";
}
.icon-star-half-full:before {
    content: "\f123";
}
.icon-star-half-o:before {
    content: "\f123";
}
.icon-microphone:before {
    content: "\f130";
}
.icon-unlock-alt:before {
    content: "\f13e";
}
.icon-sun:before {
    content: "\f185";
}
.icon-moon:before {
    content: "\f186";
}
.icon-user-circle:before {
    content: "\f2bd";
}
