@keyframes text-ring {
    0% {
        transform: rotateX(-100deg) rotate(0);
    }

    100% {
        transform: rotateX(-100deg) rotate(-360deg);
    }
}

#homeVideo {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    z-index: -1;
}

.videoWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
}

@media (min-aspect-ratio: 16/9) {
    .videoWrapper {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .videoWrapper {
        width: 600%;
        left: -250%;
    }
}

@media (min-aspect-ratio: 16/9) and (max-aspect-ratio: 16/9) {
    .videoWrapper {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.videoWrapper.expand iframe {
    transform: scale(1.325);
}

.fsb {
    position: fixed;
    font-size: 1.5rem;
    bottom: 15px;
    color: #fff;
}

.fsb.ts {
    right: 15px;
    cursor: pointer;
}

.fsb.icon-youtube-play {
    left: 15px;
}

.fsb:hover {
    color: #aaa;
}

#ringWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    transition: opacity 0.5s;
}

.text-ring {
    margin: 0;
    list-style: none;
    font-size: 77px;
    transform-style: preserve-3d;
    animation: text-ring 30s linear infinite;
}

.text-ring li {
    position: absolute;
    top: 50%;
    left: 50%;
}

.text-ring li:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0) translateY(-260px) rotateX(90deg);
}

.text-ring li:nth-child(2) {
    transform: translate(-50%, -50%) rotate(30deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(3) {
    transform: translate(-50%, -50%) rotate(60deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(5) {
    transform: translate(-50%, -50%) rotate(120deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(6) {
    transform: translate(-50%, -50%) rotate(150deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(7) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(8) {
    transform: translate(-50%, -50%) rotate(210deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(9) {
    transform: translate(-50%, -50%) rotate(240deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(10) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(11) {
    transform: translate(-50%, -50%) rotate(300deg) translateY(-260px)
        rotateX(90deg);
}

.text-ring li:nth-child(12) {
    transform: translate(-50%, -50%) rotate(330deg) translateY(-260px)
        rotateX(90deg);
}
