#inList {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 880px;
}

#inList > a {
    position: relative;
    display: inline-block;
    width: calc((100% - 30px) / 3);
    height: 0;
    padding-bottom: calc((100% - 30px) / 3);
    margin-bottom: 10px;
    background: #000;
}

#inList > a:not(:nth-child(3n)) {
    margin-right: 10px;
}

#inList > a > img {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    transform: translateY(-50%);
}
