.album {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5%;
    padding-bottom: 100px;
    width: 100%;
    min-height: 100vh;
    background: #000;
    z-index: 10000;
}

.album__closer,
.album__back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #666;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10010;
}

.album__back,
.album--lyric-revealed .album__closer {
    display: none;
}

.album--lyric-revealed .album__back {
    display: flex;
}

.album__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-position: center;
    background-size: cover;
    -webkit-filter: url(#blur);
    filter: url(#blur);
    opacity: 0.65;
    z-index: 10000;
}

.album-cover {
    position: fixed;
    width: 30%;
    z-index: 10005;
}

.album-cover__image {
    position: absolute;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.album-cover__image > img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-info {
    margin-top: 10px;
}

.song-info > * {
    margin-bottom: 10px;
}

.song-info__title {
    font-size: 1.5rem;
}

.album-cover__player {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 10px;
    z-index: 2;
}

.album-cover__player #player {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.album-cover__controller {
    text-align: center;
    margin-bottom: 10px;
}

.album-cover__play-button {
    margin: 0 10px;
}

.album-cover__player--revealed #player {
    display: block;
}

.track-list,
.lyric-list {
    position: relative;
    margin-left: 35%;
    z-index: 10005;
}

.track-list {
    overflow: hidden;
    transition: max-height 0.5s;
}

.track-list__title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.track-list__song {
    cursor: pointer;
}

.track-list__song {
    line-height: 2.5;
}

.lyric-list__item,
.lyric-list {
    display: none;
}

.lyric-list__item--revealed,
.lyric-list--revealed {
    display: block;
}

.lyric-list__item {
    white-space: pre-wrap;
    line-height: 2.5;
}

@media screen and (max-width: 860px) {
    #album-wrapper .cross-fade {
        width: 47.5%;
        padding-bottom: 47.5%;
    }

    .album-column {
        width: 47.5%;
    }

    .track-list,
    .lyric-list {
        margin-left: 0;
    }

    .album-cover {
        position: relative;
        width: 80%;
        text-align: center;
        margin: 0 auto 15px;
    }

    .song-info__title {
        margin-top: 10px;
    }
}

.song-info a {
    color: #fff;
}

.song-info a:hover {
    color: #666;
}

.video-popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 10020;
}

.video-popup__container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.video-popup--scrolled .video-popup__container {
    transform: translateY(-30vh);
}

@media screen and (min-width: 700px) {
    .video-popup--scrolled .video-popup__container {
        transform: translateY(-20vh);
    }
}

@media screen and (min-width: 861px) {
    .video-popup--scrolled .video-popup__container {
        max-width: 400px;
        transform: translate3d(30vw, 35vh, 0);
    }
}

@media screen and (min-width: 1200px) {
    .video-popup--scrolled .video-popup__container {
        max-width: 400px;
        transform: translate3d(35vw, 35vh, 0);
    }
}

.video-popup__ratio-container {
    position: relative;
    width: 80%;
    padding-bottom: 45%;
    z-index: 10021;
}

.video-popup__ratio-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-popup__closer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: opacity 0.5s;
}

.video-popup--scrolled .video-popup__closer {
    opacity: 0;
}
