.youtube-list {
    display: flex;
    padding: 0 15px;
    flex-wrap: wrap;
}

.youtube-item {
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

.youtube-item__thumbnail {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 5px;
    overflow: hidden;
}

.youtube-item__thumbnail > img {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    transform: translateY(-50%);
}

.youtube-item__title {
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 5px;
}

.youtube-item__contents {
    font-size: 0.8rem;
}

.youtube-item .dot {
    margin: 0 5px;
}

@media screen and (min-width: 680px) {
    .youtube-item {
        width: calc((100% - 30px) / 3);
        margin-right: 15px;
    }

    .youtube-item:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1000px) {
    .youtube-item {
        width: calc((100% - 45px) / 4);
    }

    .youtube-item:nth-child(3n) {
        margin-right: 15px;
    }

    .youtube-item:nth-child(4n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .youtube-item {
        width: calc((100% - 60px) / 5);
    }

    .youtube-item:nth-child(4n) {
        margin-right: 15px;
    }

    .youtube-item:nth-child(5n) {
        margin-right: 0;
    }
}

.youtube-popup > #player {
    display: none;
}

.youtube-popup--revealed > #player {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5000;
}
