@keyframes draw {
    from {
        stroke-dashoffset: -1878;
    }
    to {
        stroke-dashoffset: -3756;
    }
}

#global-loader {
    pointer-events: none;
    transition: opacity 0.25s ease-in-out;
}

#global-loader.hide {
    opacity: 0;
}

#global-loader > svg {
    animation: draw 3s ease-in-out;
}
