#header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 71px;
    line-height: 70px;
    border-bottom: 1px solid #aaa;
    transition: 0.5s;
    z-index: 100;
}

#header.shrink {
    height: 50px;
    line-height: 50px;
    background: #fff;
}

#header > .left,
#header > .right {
    flex: 1 1 0;
}

#header > .left {
    text-align: right;
}

#logo {
    display: block;
    width: 50px;
    height: 50px;
}

#header a {
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px;
}

.hideHeader #header {
    display: none;
}

.home #header {
    border-bottom: 0;
}

.home #header.shrink {
    background: 0;
}

.home #header a {
    color: #f1f1f1;
}

.home #header svg {
    fill: #f1f1f1;
}
