.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 71px;
    line-height: 70px;
    transition: 0.25s;
    z-index: 100;
}

.main-nav--shrink {
    height: 50px;
    line-height: 50px;
    background: rgba(30, 30, 30, 0.85);
}

.main-nav > .left,
.main-nav > .right {
    flex: 1 1 0;
}

.main-nav > .left {
    text-align: right;
}

.logo__icon {
    display: block;
    width: 50px;
    height: 50px;
}

.main-nav a {
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 13px;
}

.main-nav a.active {
    color: #cc7dfd;
}

.main-nav svg {
    fill: #f1f1f1;
}

.lyrics .main-nav {
    display: none;
}

.home .main-nav {
    border-bottom: 0;
}

.home .main-nav--shrink {
    background: 0;
}

.home .main-nav a {
    text-shadow: 0 0 10px #121212;
}

.drawer,
.hbg {
    display: none;
}

@media screen and (max-width: 860px) {
    .main-nav {
        line-height: 50px;
        height: 50px;
        padding: 0 10px;
    }

    .main-nav .logo__icon {
        width: 40px;
        height: 40px;
    }

    .main-nav > .left,
    .main-nav .main-nav__link:not(.logo) {
        display: none;
    }

    .main-nav > .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .hbg {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        transition: transform 0.5s, opacity 0.5s;
    }

    .hbg div {
        width: 25px;
        height: 4px;
        border-radius: 5px;
        background: #f1f1f1;
        transition: 0.5s cubic-bezier(0.6, 0.05, 0.28, 0.91);
    }

    .drawer .hbg div,
    body.home .main-nav .hbg div {
        background: #fff;
    }

    .hbg__mid {
        margin: 4px 0;
    }

    :is(.main-nav--revealed, .drawer--revealed) .hbg__top {
        -webkit-transform: translateY(4px) rotate(-135deg);
        transform: translateY(4px) rotate(-135deg);
    }

    :is(.main-nav--revealed, .drawer--revealed) .hbg__mid {
        opacity: 0;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    :is(.main-nav--revealed, .drawer--revealed) .hbg__bot {
        -webkit-transform: translateY(-12px) rotate(-45deg);
        transform: translateY(-12px) rotate(-45deg);
    }

    .drawer {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        background: #000;
        pointer-events: none;
        transition: 0.5s;
        z-index: 2000;
    }

    .drawer--revealed {
        opacity: 1;
        pointer-events: all;
    }

    .drawer .hbg {
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .drawer a {
        color: #fff;
        padding: 10px 0;
        margin: 10px 0;
    }

    .drawer a.active {
        color: #cc7dfd;
    }
}
