#instagram {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 860px;
}

#instagram > a {
    position: relative;
    display: inline-block;
    width: calc((100% - 30px) / 3);
    height: 0;
    padding-bottom: calc((100% - 30px) / 3);
    margin-bottom: 10px;
    background: #000;
}

#instagram > a:not(:nth-child(3n)) {
    margin-right: 10px;
}

#instagram > a > img {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    transform: translateY(-50%);
}
