.list.grid {
    display: flex;
    flex-wrap: wrap;
    --item-width: 100%;
}

.grid-item {
    position: relative;
    display: inline-block;
    width: var(--item-width);
    height: 0;
    padding-bottom: var(--item-width);
    margin-bottom: 10px;
    overflow: hidden;
    background: #000;
}

.grid-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.grid-item-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    z-index: 2;
}

.grid-item-content h3 {
    font-size: 24px;
    margin: auto 0;
}

.grid-item::after {
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    content: "";
    opacity: 0;
    background: linear-gradient(
        0deg,
        rgb(124, 76, 154),
        rgba(124, 76, 154, 0.25)
    );
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1;
}

.grid-item.hover::after,
.grid-item:hover::after {
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.list.timeline {
    position: relative;
    padding: 100px 0;
}

.list.timeline::before {
    content: "";
    position: absolute;
    width: 6px;
    background: linear-gradient(180deg, #f5a1b1, #a277bc, #4dd6d3);
    top: 0;
    bottom: 0;
    right: 20px;
    z-index: 5;
}

.timeline-item {
    position: relative;
    width: calc(100% - 46px);
    margin-left: 10px;
    margin-bottom: 50px;
    padding: 10px 30px;
    background: #ffaa99;
    color: #121212;
    border-radius: 5px;
}

.timeline-item::before {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 5px;
    right: -37.3px;
    display: block;
    width: 17.5px;
    height: 25px;
    border: 0 solid #ffaa99;
    border-width: 0 20px;
    border-radius: 50%;
    clip: rect(0, 28px, 10px, 19px);
}

.timeline-item::after {
    content: "";
    position: absolute;
    right: -18px;
    top: 0;
    width: 10px;
    height: 10px;
    background: rgba(85, 85, 85, 0.75);
    border-radius: 50%;
    z-index: 6;
}

.timeline-item > * {
    margin-bottom: 10px;
}

.timeline-item > img,
.timeline-item > video {
    position: relative;
    z-index: 5;
}

.timeline-item > .title {
    font-size: 1.5rem;
}

.timeline-item > .title > .date {
    margin-left: 5px;
    font-size: 0.8rem;
}

.timeline-item > .category {
    font-size: 0.8rem;
}

@media screen and (min-width: 680px) {
    .list.grid {
        --item-width: calc((100% - 10px) / 2);
    }

    .grid-item {
        margin-right: 10px;
    }

    .grid-item:nth-child(2n) {
        margin-right: 0;
    }

    .list.timeline::before {
        left: calc(50% - 3px);
        right: auto;
    }

    .timeline-item {
        width: calc(50% - 23px);
    }

    .timeline-item:nth-child(2n) {
        left: calc(50% + 13px);
        margin-left: 0;
    }

    .timeline-item:nth-child(2n)::before {
        right: auto;
        left: -37.4px;
        clip: rect(0, 41px, 15px, 28px);
    }

    .timeline-item:nth-child(2n)::after {
        right: auto;
        left: -18px;
    }
}

@media screen and (min-width: 1100px) {
    .list.grid {
        --item-width: calc((100% - 40px) / 3);
    }

    .grid-item {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .grid-item:nth-child(2n) {
        margin-right: 20px;
    }

    .grid-item:nth-child(3n) {
        margin-right: 0;
    }

    .grid-item-content {
        opacity: 0;
        transition: opacity 0.5s;
    }

    .grid-item:hover .grid-item-content {
        opacity: 1;
    }

    .grid-item {
        background: #fff;
    }

    .grid-item-bg {
        opacity: 1;
    }
}
