.list.grid {
    display: flex;
    flex-wrap: wrap;
    --item-width: 100%;
}

.grid-item {
    position: relative;
    display: inline-block;
    width: var(--item-width);
    height: 0;
    padding-bottom: var(--item-width);
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-item-content h3 {
    margin: auto 0;
}

@media screen and (min-width: 680px) {
    .list.grid {
        --item-width: calc((100% - 10px) / 2);
    }

    .grid-item {
        margin-right: 10px;
    }

    .grid-item:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 1100px) {
    .list.grid {
        --item-width: calc((100% - 40px) / 3);
    }

    .grid-item {
        margin-bottom: 20px;
    }

    .grid-item:nth-child(2n) {
        margin-right: 20px;
    }

    .grid-item:nth-child(3n) {
        margin-right: 0;
    }
}
