@font-face {
    font-family: "BMJUA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background: none;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "BMJUA", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #aaa;
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

/* container */
#main > section {
    margin: 0 auto;
}

#main > section:not(#home) {
    margin-top: 140px;
}

#main > section.max-1400 {
    max-width: 1400px;
}
