@font-face {
    font-family: Jal_Onuel;
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff)
        format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background: none;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: "Jal_Onuel", sans-serif;
    background: #121212;
    color: #f1f1f1;
    scrollbar-width: thin;
    scrollbar-color: #cc7dfd #121212;
}

html.overHidden {
    overflow: hidden;
}

html.untouchable ::-webkit-scrollbar-track {
    background: #121212;
}

html.untouchable ::-webkit-scrollbar {
    width: 5px;
    background-color: #121212;
}

html.untouchable ::-webkit-scrollbar-thumb {
    background: #cc7dfd;
}

a,
button {
    color: #f1f1f1;
    text-decoration: none;
}

a:hover,
button:hover {
    color: #e0e0e0;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.center {
    text-align: center;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

.circle {
    border-radius: 50%;
}

img,
video {
    max-width: 100%;
}

/* container */
#main > section {
    margin: 0 auto;
}

body:not(.lyrics) #main > section:not(#home):not(.less-top-margin) {
    margin-top: 140px;
}

body:not(.lyrics) #main > section.less-top-margin {
    margin-top: 50px;
}

#main > section.max-1400 {
    max-width: 1400px;
}

#main > section.max-1060 {
    max-width: 1060px;
}

@media screen and (min-width: 961px) {
    body:not(.lyrics) #main > section.less-top-margin {
        margin-top: 70px;
    }
}

#info {
    margin-bottom: 50px;
}

#info h1 {
    margin: 10px 0;
}

/* Loading */
#loading {
    width: 100%;
    padding: 150px 0;
}
